body {
    background-color: lightblue;
    background-image: url(apple_in_blue_background_technology_hd_macbook.jpg);
    background-size: cover;
    }
    
    h1 {
    color: navy;
    margin-left: 20px;
    }